<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
<p>
  Contact Kristen by sending a message through <a href="https://www.linkedin.com/in/kristen-wilde-20664b5/">my linkedIn profile</a>.
</p>